=font-face($family, $path, $weight: normal, $style: normal)
  @font-face
    font-family: $family
    src: url('#{$path}.ttf') format('truetype')
    font-weight: $weight
    font-style: $style

+font-face('RobotoMono', '../assets/fonts/RobotoMono-Light', 300, 'normal')
+font-face('RobotoMono', '../assets/fonts/RobotoMono-Regular', 400, 'normal')
+font-face('RobotoMono', '../assets/fonts/RobotoMono-Medium', 500, 'normal')
+font-face('RobotoMono', '../assets/fonts/RobotoMono-Bold', 700, 'normal')

$font-family-roboto-mono: 'RobotoMono', monospace
