.window-terminal
  display: flex
  flex: 1
  flex-wrap: wrap
  overflow: hidden
  background: transparent
  color: $color

  .window-terminal-container
    position: relative
    flex: 1
    overflow: hidden

    .terminal-instance
      position: absolute
      width: 100%
      height: 100%
      display: none

      &.active
        display: block
