.window-bottom-container
  height: 40px
  background: $background
  display: flex
  align-items: center
  justify-content: space-between

  .window-bottom-container__left
    height: 40px
    display: flex
    align-items: center

    .icon-folder
      svg
        height: 14px
        path
          fill: #a5a2a2

    .current-folder-text
      font-size: 11px
      font-weight: 100
      color: #a5a2a2
      margin-left: -10px
      letter-spacing: 1px

  .window-bottom-container__center
    display: flex
    flex: 1
    align-items: center
    justify-content: center

    .current-branch-text
      font-size: 11px
      font-weight: 100
      margin-left: -10px
      letter-spacing: 1px
      transition: all 0.5s

  .window-bottom-container__right

