.window-bottom-container
  height: 40px
  background: $background
  display: flex
  align-items: center
  justify-content: space-between
  position: relative

  .window-bottom-container__left
    height: 40px
    display: flex
    align-items: center

    .icon-folder
      svg
        height: 14px
        path
          fill: #a5a2a2
      cursor: pointer

    .current-folder-text
      font-size: 11px
      font-weight: 100
      color: #a5a2a2
      margin-left: -10px
      letter-spacing: 1px
      cursor: pointer

  .window-bottom-container__center
    display: flex
    flex: 1
    align-items: center
    justify-content: center

  .window-bottom-container__right
    display: flex
    flex: 1
    align-items: center
    justify-content: flex-end
    padding-right: 50px

    .git-output
      display: flex
      align-items: center
      float: right
      padding: 0px 10px

      .git-branch
        display: flex
        align-items: center
        svg
          width: 46px
          height: 36px

        .current-branch-text
          font-size: 11px
          font-weight: 100
          margin-left: -10px
          letter-spacing: 1px
          transition: all 0.5s

  .search-input
    background: $black
    outline: none
    font-size: 14px
    width: 300px
    display: block
    margin: 0 auto
    border: 1px solid $white
    padding: 10px 15px
    border-radius: 4px
    position: absolute
    left: calc(50% - 150px)
    bottom: 5px
