.window-notification-content
  position: absolute
  bottom: 40px
  right: 20px
  display: flex
  justify-content: center
  align-items: center
  width: 60px
  height: 40px
  border: 1px solid $white
  border-radius: 3px
  background: $black
  color: $white
  font-size: 14px
  z-index: 10
