<div class="window-bottom-container">
  <div class="window-bottom-container__left">
    <span class="icon-folder">
      <svg width="52px" height="43px" viewBox="10 14 52 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M57,19.6 L33.6,19.6 L26.4,14.2 C26.2,14.1 26,14 25.8,14 L15,14 C12.2,14 10,16.2 10,19 L10,51.9 C10,54.7 12.2,56.9 15,56.9 L57,56.9 C59.8,56.9 62,54.7 62,51.9 L62,24.6 C62,21.9 59.8,19.6 57,19.6 Z M60,52 C60,53.7 58.7,55 57,55 L15,55 C13.3,55 12,53.7 12,52 L12,32 L60,32 L60,52 Z M60,29.9 L12,29.9 L12,19 C12,17.3 13.3,16 15,16 L25.5,16 L32.7,21.4 C32.9,21.5 33.1,21.6 33.3,21.6 L57,21.6 C58.7,21.6 60,22.9 60,24.6 L60,29.9 Z" id="Shape" stroke="none" fill="#FFFFFF" fill-rule="nonzero"></path>
      </svg>
    </span>
    <span class="current-folder-text" *ngIf="currentDir">
      {{ currentDir }}
    </span>
  </div>
  <div class="window-bottom-container__center">
    <span class="current-process-text">
      {{ currentProcess }}
    </span>
  </div>
  <div class="window-bottom-container__right">

  </div>
</div>
